<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src='https://use.fontawesome.com/dc7038f777.js'></script>
  <script src="mrMr.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="namesCtrl"> 
	<div class="container" ng-show="!pageLoaded">
		<div class="text-center">
			<mrspin color="lightskyblue" size="300"></mrspin>
		</div>
	</div>
	<div class="container" ng-show="pageLoaded">
		<span ng-bind-html="lillib | mrHtml"></span>		
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
				<input class="form-control input-lg" ng-model-options="{debounce: 250}" ng-model="searchText">				
			</div>
		</div>
		<div class="table-responsive">          
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>        
						<th><mrsort lbl="Name" srt="name"></mrsort></th>
						<th><mrsort lbl="Country" srt="country"></mrsort></th>        
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in names | filter : searchText | orderBy : sortOrder : sortDirection">
						<td>{{($index + 1).toString() | mrBin}}</td>
						<td>{{x.name | mrName }}</td>
						<td>{{x.country}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive">          
			<table class="table table-striped">
				<thead>
					<tr>  
						<th><mrsort lbl="{{lillib | mrStrip | mrTruncate : 6}} Fornavn" srt="name.split(' ')[0]" ord="sort2" drt="dir2"></mrsort></th>
						<th><mrsort lbl="{{lillib | mrStrip | mrTruncate : 6}} Efternavn" srt="name.split(' ')[1]" ord="sort2" drt="dir2"></mrsort></th>
						<th><mrsort lbl="{{lillib | mrStrip | mrTruncate : 6}}skode" srt="country" ord="sort2" drt="dir2"></mrsort></th>     
						<th>Pris</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in names | filter : searchText | orderBy : sort2 : dir2">						
						<td>{{x.name.split(' ')[0]}}</td>
						<td>{{x.name.split(' ')[1]}}</td>
						<td>{{((x.name | mrOct | mrParse : '1' : '5') + (x.country | mrTruncate : 3 | mrHex) | mrTruncate : 8 ) }}</td>
						<td ng-bind-html="($index * 3) +2 | mrPrice"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
angular.module('myApp', ["mrMr"]).controller('namesCtrl', function($scope, $timeout) {
    $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Hege',country:'Sweden'},
        {name:'Kai',country:'Denmark'},
		{name:'Knut',country:'Norway'},
        {name:'Inga',country:'Sweden'},
        {name:'Harry',country:'Denmark'},
		{name:'Andreas Brehme',country:'Germany'},
		{name:'Rudi Völler',country:'Germany'}
    ];
	$scope.lillib = "<h1 class='text-center' style='text-shadow: 2px 2px 3px grey;'>Medlemmer:</h1>"
	$timeout(function () {
		$scope.pageLoaded = true;
    }, 1000);
}); 
</script>

</body>
</html>
